[Unit]
Description=Minimal Enterprise Router
Wants = network-online.target
After = network-online.target
Before=sshd-keygen.target
RequiresMountsFor=/sys/fs/bpf

[Service]
Type=forking
ExecStart=MIENRO_BINPREFIX/mienroload
ExecStop=/bin/kill $MAINPID
Restart=on-failure
RestartSec=20s
#RestartPreventExitStatus=0 1 SIGHUP

[Install]
WantedBy=multi-user.target
